<template name="login">

  <header>
    <!-- NAVBAR -->
      <div class="navbar navbar-inverse navbar-fixed-top">  
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><span style="color: white;">IT-Connections</span></a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                 <!--<li><a href="#">{{loginButtons}}</a></li>-->

              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container --> 
        </div><!--/.navbar-inner -->
      </div><!--/.navbar -->
  </header>

  
  <div id="loginBox">
    <div id="loginBox2">
      <form class="navbar-form pull-right" action="/main">      
          <input id="email" class="span3" type="text" placeholder="Email" autofocus='autofocus'>
          <input id="passwd"  class="span3" type="password" placeholder="Password" autofocus='autofocus'>
          <button id="signIn" type="submit" class="btn btn-info">Sign in</button>          
      </form>
      <!--<div id="auxLinks"><a>Create Account</a><a> Forgot Password</a></div>-->
    </div>
  </div>
  

  
  
</template>