<template name="login">

  <header>
    <!-- NAVBAR -->
      <div class="navbar navbar-inverse navbar-fixed-top">  
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><span style="color: white;">---</span></a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                 

              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container --> 
        </div><!--/.navbar-inner -->
      </div><!--/.navbar -->
  </header>

  
  <div id="loginBox">
    <div id="loginBox2">
      <form id="loginForm"class="navbar-form pull-right" action="/main">      
          <input id="emailBox" class="span3" type="text" placeholder="Email" autofocus='autofocus'>
          <input id="passwdBox"  class="span3" type="password" placeholder="Password" >          
          <input id="signIn" type="submit" class="btn btn-info" value="Sign In">
      </form>
      <div id="auxLinks"><a id="createAccount" href="signUp">Create Account</a></div>
    </div>
  </div>
  

  
  
</template>