<template name="signUp">

  <header>
    <!-- NAVBAR -->
      <div class="navbar navbar-inverse navbar-fixed-top">  
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><span style="color: white;">---</span></a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                 
              
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container --> 
        </div><!--/.navbar-inner -->
      </div><!--/.navbar -->
  </header>

  <div class="container"><br><br><br><b> </b></div>
  
  <div id="loginBox">
    <div id="loginBox2">
      <form id="signUpForm"class="navbar-form pull-right" action="/">
        <b>Thanks for joining us.</b><br>
          <input id="emailBox" class="span3" type="text" placeholder="Email" autofocus='autofocus'>
          <input id="passwdBox"  class="span3" type="password" placeholder="Password" >
          <input id="passwd2Box"  class="span3" type="password" placeholder="Confirm Password" >  
          <button id="signUp" type="submit" class="btn btn-info">Sign Up</button>
          
      </form>      
    </div>
  </div>
   
  
</template>